<% provide :title, t(".update_suggest") %>
<% provide :button_text, t(".update_suggest") %>
<section class="main-container col1-layout">
  <div class="main container">
    <div class="page-content">
      <div class="account-login">
        <div class="box-authentication">
          <h2><%= t ".update" %></h2>
          <%= render "suggest_form" %>
        </div>
      </div>
    </div>
  </div>
</section>

