@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'color';
#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 20px 30px;
  }
}
