@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'color';
#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 20px 30px;
  }
}

.wishlist-item table .th-product {
  width: 18%;
}
.wishlist-item table .th-product img {
  width: 100px;
}

.red{
  color: $red;
}

.labelsearch{
  margin-top: -4px;
  width: 23%;
  float: right;
}
.sinput{
  width: 85% !important;
  height: 100%;
}
.sbutton{
  width: 15%;
  line-height: 28px;
  float: right;
  display: inline-block;
  border: none;
  color: #39342e;
  border-color: #ddd;
}
