<div id="mobile-menu">
  <ul>
    <li><%= link_to t(".home", class: "home1"), root_path %></li>
    <li><%= link_to t(".suggest"), "" %></li>
    <li><%= link_to t(".categories"), "" %>
      <ul>
        <li></li>
      </ul>
    </li>
  </ul>
</div>
